
<div class="header">

  <span>
    <a (click)="onNavToggle()">
      <!--<i class="material-icons">keyboard_arrow_left</i>-->
      <i class="material-icons">menu</i>
    </a>
    <i class="material-icons">search</i>
  </span>

  <span class="right">
    <button class="btn">
      <i class="material-icons">add</i> Add Project
    </button>
    <i class="material-icons">mail</i>
    <i class="material-icons">notifications</i>

    <span class="avatar">
      <img src="./assets/img/profile-img.png" alt="...">
    </span>
    <i class="material-icons">arrow_drop_down</i>
  </span>

</div>
