
// app config ================
// $sidebar-width: 15%;
$sidebar-width: 220px;


// main colors ================
$black: #000;
$white: #fff;
$primary:#5584ff;
$background-color-light: #f6f7fa;
$border-color-light: #d4d9e3;
$header-icon-light: #aac2ff;


// navigation ======================
$nav-back: #0e1a35;
$nav-selected-back: #122143;
$nav-border-bottom: #0d172e;


// widget ======================
$widget-header: #8492af;

