<!--<p>
  navigation works!
</p>-->
<img src="./assets/img/logo.png">

<ul class="nav">
  <li routerLinkActive="active">
    <i class="material-icons">home</i>
    <a routerLink="/home">Home</a>
  </li>
  <li routerLinkActive="active">
    <i class="material-icons">home</i>
    <a routerLink="/test-page">Test-Page</a>
  </li>
  <li>
    <i class="material-icons">home</i>
    <a href="#">Workflow</a>
  </li>
  <li>
    <i class="material-icons">home</i>
    <a href="#">Statistics</a>
  </li>
  <li>
    <i class="material-icons">home</i>
    <a href="#">Calendar</a>
  </li>
  <li>
    <i class="material-icons">home</i>
    <a href="#">Users</a>
  </li>
  <li>
    <i class="material-icons">home</i>
    <a href="#">Settings</a>
  </li>
</ul>

