
@import '../../assets/style/_vars';


h2{
  padding-left: 40px;
  padding-top: 20px;
}

.page {
  // height: 100%;
  padding: 0 30px 30px;
  display: flex;
  flex-flow: row wrap;
  // justify-content: flex-start;
  // align-items: stretch;
}


.widget {
  padding: 10px;
  margin: 10px;
  border: solid 1px $border-color-light;
  background-color: $white;
  // width: 450px;
  // height: 320px;
  flex-basis: 30%;
  flex-grow: 1;
  order: 3;
}


.widget:nth-of-type(4) { flex-basis: 35%; order: 1;}
.widget:nth-of-type(5) { flex-basis: 55%; order: 2;}
